html,
body,
header,
#intro-startpage {
    height: 85%;
}

#intro-home {
    height: 60%;
}

#intro-about {
    height: 60%;
}

#intro {
    height: 85%;
}
.intros {
    background: url("../img/navbar_background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
  /* background-color: #9B150C; */
  background-color: #b71c1c;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #b71c1c;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #b71c1c;
  }
}
