html,
body,
header,
#intro {
    height: 85%;
}

#intro {
    background: url("../img/navbar_background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px -400px;
}

.top-nav-collapse {
  /* background-color: #9B150C; */
  background-color: #999999;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #999999;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #999999;
  }
}
