{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-warning text-center mt-4" role="alert"><h3><strong>{{error}}</strong></h3></div>
{% endif %}

{% if msg %}
  <div class="alert alert-success text-center mt-4" role="alert"><h3><strong>{{msg}}</strong></h3></div>
{% endif %}
