<!--From: http://getbootstrap.com/docs/4.1/examples/-->

{% extends 'layout.html' %}

{% block body %}
<header>
  {% include 'includes/_navbar.html'%}
  <div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}}); background-size:cover;">
    <div class="flex-center white-text rgba-black-strong">
      <ul class="my-4 list-unstyled">
        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">Contact Us</h2>
        <hr class="hr-light">
        <h4 class="white-text my-3" style="font-size:3.3vh;">Do you have any questions? Is something not working correctly?</h4>
        <h4 class="white-text my-3" style="font-size:3.3vh;">Do you have a feature request? Let us know.</h4>
        </ul>
      </div>
    </div>
    <div style="background-color: #b71c1c;min-height: 15px;"></div>
</header>
{% include 'includes/_messages.html' %}
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container my-4">
    <!--Section: Contact-->
    <section class="section">
      <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="mail.php" method="POST">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="name" name="name" class="form-control">
                  <label for="name" class="">Your name</label>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="email" name="email" class="form-control">
                  <label for="email" class="">Your email</label>
                </div>
              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!-- Subject -->
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input type="text" id="subject" name="subject" class="form-control">
                  <label for="subject" class="">Reason for Contact</label>
                </div>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-12">

                <div class="md-form">
                  <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                  <label for="message">Your message</label>
                </div>

              </div>
            </div>
            <!--Grid row-->

          </form>

          <div class="text-center text-md-left">
            <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
          </div>
          <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
            <li><i class="fa fa-bank fa-2x"></i>
              <p>Rensselaer Polytechnic Institute</p>
            </li>

            <li><i class="fa fa-map-marker mt-4 fa-2x"></i>
              <p>110 8th St, Troy, NY 12180</p>
            </li>

            <li><i class="fa fa-envelope mt-4 fa-2x"></i>
              <p>threesacrowdteam@gmail.com</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>

    </section>
    <!--Section: Contact-->

  </div>

</main>
<!--Main layout-->
{% endblock %}
