{% extends 'layout.html' %}

{% block body %}
<header>
  {% include 'includes/_navbar.html'%}
  <div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}}); background-size:cover;">
    <div class="flex-center white-text rgba-black-strong">
      <ul class="my-5 list-unstyled">
        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">{{formTitle}}</h2>
        </ul>
      </div>
    </div>
    <div style="background-color: #b71c1c;min-height: 15px;"></div>
</header>
{% include 'includes/_messages.html' %}
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container">
    <!--Section: Form-->
    <section class="section">
      {% if edit == '' %}
        <h2 class="h1-responsive font-weight-bold my-5">Edit your responses</h2>
      {% else %}
        <h2 class="h1-responsive font-weight-bold my-5">View the responses</h2>
      {% endif %}


      <form class="needs-validation" novalidate style="color: #B71C1C" action="" method="POST">
        <!--Go through all questions and render them-->
        {% for question in formQuestions %}
          {% if question.type == 'instruction' %}
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form my-0">
                  <blockquote>{{question.question}}</blockquote>
                </div>
              </div>
            </div>
            <!--Grid row-->

          {% elif question.type == 'title-left' %}
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <h3 class="text-left font-weight-bold">{{question.question}}</h3>
                </div>
              </div>
            </div>
            <!--Grid row-->

          {% elif question.type == 'title-center' %}
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <h3 class="text-center font-weight-bold">{{question.question}}</h3>
                </div>
              </div>
            </div>
            <!--Grid row-->

          {% elif question.type == 'divider' %}
                  <hr class="hr-dark">

          {% elif question.type == 'text' %}
            <!--Grid row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        <input type="text" id={{question.fqid}} name={{question.fqid}} class="form-control" {{question.req}} {{edit}} value={{answers[question.fqid]}}>
                        <label for={{question.fqid}} class="">{{question.question}}</label>
                        <div class="invalid-feedback">
                          Please provide and answer for "{{question.question}}" input
                        </div>
                    </div>
                </div>
            </div>
            <!--Grid row-->


          {% elif question.type == 'checkbox' %}

          {% elif question.type == 'radiobutton' %}

          {% elif question.type == 'select' %}
                <div class="md-form mb-0">
                  <select class="browser-default custom-select md-form" id={{question.fqid}} {{question.req}} {{edit}} name={{question.fqid}}>
                    <option value="" disabled="">{{question.typeparam}}</option>
                    {% for option in question.question.split(',') %}
                      {% if option == answers[question.fqid] %}
                        <option value={{option}} selected="">{{option}}</option>
                      {% else %}
                        <option value={{option}}>{{option}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    Please provide and answer for "{{question.typeparam}}" input
                  </div>
                </div>

          {% elif question.type == 'crnsearch' %}
            <!--Grid row-->
            {% if edit == '' %}
              <div class="row">
                  <a href="https://yacs.cs.rpi.edu/" target="_blank">
                    <button type="button" class="btn btn-primary btn-sm mt-4">Find CRN on YACS</button>
                  </a>
            {% endif %}
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input type="text" id={{question.fqid}} name={{question.fqid}} class="form-control" {{question.req}} {{edit}} value={{answers[question.fqid]}}>
                    <label for={{question.fqid}} class="">Course CRN</label>
                    <div class="invalid-feedback">
                      Please provide the CRN for the course. You can use YACS to find it.
                    </div>
                  </div>
                </div>
              </div>
            {% if edit == '' %}
              </div>
            {% endif %}

          {% elif question.type == 'comment' %}

          {% elif question.type == 'button' %}

          {% endif %}
        {% endfor %}
        {% if edit == '' %}
          <button class="btn btn-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Save</button>
        {% else %}
          <button class="btn btn-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Back</button>
        {% endif %}
      </form>

    </section>
    <!--Section: Form 1-->
  </div>

</main>
<!--Main layout-->
{% endblock %}
