{% extends 'layout.html' %}

{% block body %}
<header>
  {% include 'includes/_navbar.html'%}
  <div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}}); background-size:cover;">
    <div class="flex-center white-text rgba-black-strong">
      <ul class="my-4 list-unstyled">
        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">Forms</h2>
        <hr class="hr-light">
        <h4 class="white-text my-4" style="font-size:3.3vh;">Find the form you want to fill out.</h4>
        </ul>
      </div>
    </div>
    <div style="background-color: #b71c1c;min-height: 15px;"></div>
</header>
<!--Main Navigation-->

<!--Main layout-->
<main>
  <!--Accordion wrapper-->
  <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Generate Cards to for the different categories -->
    {% for cat in categories %}
    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header elegant-color" role="tab" id="headingOne">
        {% if cat == categories[0] %}
          <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {% else %}
          <a class="collapsed" data-toggle="collapse" href={{"#"+accordianIDs[cat].collapseID}} aria-expanded="false" aria-controls={{accordianIDs[cat].collapseID}}>
        {% endif %}
            <h5 class="white-text text-center my-2">
              {{cat}} <i class="fa fa-angle-down rotate-icon"></i>
            </h5>
          </a>
        </div>

        <!-- Card body -->
          <!-- if cat == categories[0] -->
          <!-- <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx"> -->
          <!-- else -->
          <div id={{accordianIDs[cat].collapseID}} class="collapse" role="tabpanel" aria-labelledby={{accordianIDs[cat].headingID}} data-parent="#accordionEx">
          <!-- endif -->

            <!-- ====================Form Section Heading==================== -->
            <div class="card-body">
              <div class="container">
              <section class="text-center my-5">
                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold my-5">{{cat}}</h2>
                <!-- Divider -->
                <hr class="hr-dark">
            <!-- ==================End Form Section Heading================== -->

            <!-- ===================Generated Gallery View=================== -->
            {% set count = namespace(a=0) %}
            {% set rowDiv = namespace(a=0) %}
            {% for form in forms %}
              {% if form.category == cat %}
              <!-- {{url_for('static', filename='img/formthumbs/authorization_form_thumbnail.jpg')}} -->
            <!-- ==================Make Left Card Thumbnail================== -->
                {% if count.a % 3 == 0 %}
                  <!-- Grid row -->
                  <div class="row text-center">
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-lg-0 my-3">
                      <!--Featured image-->
                      <div class="view overlay rounded z-depth-1">
                        <img src={{url_for('static', filename='img/formthumbs/defaultThumbnail'+thumbs[count.a]+'.png')}} class="img-fluid" alt="Sample project image">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <!--Excerpt-->
                      <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">{{form.title}}</h4>
                        <p class="grey-text">{{form.description}}</p>
                        {% if session.logged_in %}
                          <a class="btn btn-indigo btn-sm" href="/form/{{form.fid}}/{{form.title}}"><i class="fa fa-clone left"></i>Start Filling Out Form</a>
                        {% endif %}
                        <a class="btn btn-indigo btn-sm" href={{form.pdflink}}><i class="fa fa-clone left"></i>View PDF Version</a>
                      </div>
                    </div>
                    <!-- Grid column -->
                    {% set rowDiv.a = 1 %}
            <!-- =================Make Center Card Thumbnail================= -->
                  {% elif count.a % 3 == 1 %}
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6 mb-md-0 my-3">
                      <!--Featured image-->
                      <div class="view overlay rounded z-depth-1">
                        <img src={{url_for('static', filename='img/formthumbs/defaultThumbnail'+thumbs[count.a]+'.png')}} class="img-fluid" alt="Sample project image">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <!--Excerpt-->
                      <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">{{form.title}}</h4>
                        <p class="grey-text">{{form.description}}</p>
                        {% if session.logged_in %}
                          <a class="btn btn-indigo btn-sm" href="/form/{{form.fid}}/{{form.title}}"><i class="fa fa-clone left"></i>Start Filling Out Form</a>
                        {% endif %}
                        <a class="btn btn-indigo btn-sm" href={{form.pdflink}}><i class="fa fa-clone left"></i>View PDF Version</a>
                      </div>
                    </div>
                    <!-- Grid column -->
            <!-- ==================Make Right Card Thumbnail================== -->
                  {% elif count.a % 3 == 2 %}
                      <!-- Grid column -->
                      <div class="col-lg-4 col-md-6 my-3">
                        <!--Featured image-->
                        <div class="view overlay rounded z-depth-1">
                          <img src={{url_for('static', filename='img/formthumbs/defaultThumbnail'+thumbs[count.a]+'.png')}} class="img-fluid" alt="Sample project image">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        <!--Excerpt-->
                        <div class="card-body pb-0">
                          <h4 class="font-weight-bold my-3">{{form.title}}</h4>
                          <p class="grey-text">{{form.description}}</p>
                          {% if session.logged_in %}
                            <a class="btn btn-indigo btn-sm" href="/form/{{form.fid}}/{{form.title}}"><i class="fa fa-clone left"></i>Start Filling Out Form</a>
                          {% endif %}
                          <a class="btn btn-indigo btn-sm" href={{form.pdflink}}><i class="fa fa-clone left"></i>View PDF Version</a>
                        </div>
                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->
                  {% set rowDiv.a = 0 %}
                  {% endif %}

                <!-- incrementing the count variable -->
                {% set count.a = count.a + 1 %}
              {% endif %}
            {% endfor %}
            {% if rowDiv.a == 1 %}
              </div>
              <!-- Grid row -->
            {% endif %}
              </section>
              </div>
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        {% endfor %}
      </div>
      <!--/.Accordion wrapper-->
    </main>
    <!--Main layout-->
    {% endblock %}
