{% extends 'layout.html' %}

{% block body %}
<header>
  {% include 'includes/_navbar.html'%}
  <div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}})">
    <div class="flex-center white-text rgba-black-strong">
      <ul class="my-5 list-unstyled">
        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">Authorization Form</h2>
        </ul>
      </div>
    </div>
    <div style="background-color: #b71c1c;min-height: 15px;"></div>

</header>
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container">
    <!--Section: Contact-->
    <section class="section">

      <!--Section heading-->
      <h2 class="h1-responsive font-weight-bold text-center my-5">Instructions</h2>
      <!--Section description-->
      <p class="text-center w-responsive mx-auto mb-5">

        <strong>Schedule Conflict</strong>
        <blockquote class="blockquote">
          <small class="text-muted">
            Student should complete Parts A and B and have the instructor of each of the conflict courses sign in Part C approving the time overlap. Submit the signed form to the Registrar's Office.
          </small>
        </blockquote>
<br>
        <strong>Credit Overload</strong>
        <blockquote class="blockquote">
          <small class="text-muted">
            Student should complete Part A and get the appropriate signature in Part D (Undergraduate students must have his/her advisor's approval AND class dean’s approval; Graduate students need the permission of the Office of Graduate Education). Submit the signed form to the Registrar's Office.

            NOTE: Undergraduate students will be charged for any credits exceeding 23 credit hours.
            Graduate students will be charged for any credits exceeding 15 credit hours.
          </small>
        </blockquote>

        <strong>Closed or Restricted Courses and Pre-Requisite Requirement (Permission of Instructor)</strong>
        <blockquote class="blockquote">
          <small class="text-muted">
            Complete Parts A and B. Have the Course Instructor sign this form in Part C approving your admission to the course. Return the signed form to the Registrar's Office. This form must be submitted by the Add Deadline.
          </small>
        </blockquote>
<br>
** After the Add Deadline, approval of the Advising & Learning Assistance Center (ALAC) is required **
      </p>

      <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" action="mail.php" method="POST">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="name" name="name" class="form-control">
                  <label for="name" class="">Your name</label>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="email" name="email" class="form-control">
                  <label for="email" class="">Your email</label>
                </div>
              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->


            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input type="text" id="subject" name="subject" class="form-control">
                  <label for="subject" class="">Subject</label>
                </div>
              </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-12">

                <div class="md-form">
                  <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                  <label for="message">Your message</label>
                </div>

              </div>
            </div>
            <!--Grid row-->

          </form>

          <div class="text-center text-md-left">
            <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Submit</a>
          </div>
          <div class="status"></div>
        </div>
        <!--Grid column-->

      </div>

    </section>
    <!--Section: Form 1-->
  </div>

</main>
<!--Main layout-->
{% endblock %}
