{% extends 'layout.html' %}

{% block body %}
<header>
  {% include 'includes/_navbar.html'%}
  <div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}}); background-size:cover;">
    <div class="flex-center white-text rgba-black-strong">
      <ul class="my-5 list-unstyled">
        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">{{formTitle}}</h2>
        </ul>
      </div>
    </div>
    <div style="background-color: #b71c1c;min-height: 15px;"></div>

</header>
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container">
    <!--Section: Form-->
    <section class="section">

      <form id="contact-form" name="contact-form" method="POST">
        <!--Go through all questions and render them-->
        {% for question in formQuestions %}
          {% if question.type == 'instruction' %}
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <blockquote>{{question.question}}</blockquote>
                </div>
              </div>
            </div>
            <!--Grid row-->

          {% elif question.type == 'title-left' %}
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <p class="text-left font-weight-bold">{{question.question}}</p>
                </div>
              </div>
            </div>
            <!--Grid row-->

          {% elif question.type == 'title-center' %}
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <p class="text-center font-weight-bold">{{question.question}}</p>
                </div>
              </div>
            </div>
            <!--Grid row-->

          {% elif question.type == 'divider' %}
                  <hr class="hr-dark">

          {% elif question.type == 'text' %}
          {% set temp = question.qid %}
            <!--Grid row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        <input type="text" id={{question.fqid}} name={{question.fqid}} class="form-control" value={{request.form.temp}}>
                        <label for={{question.fqid}} class="">{{question.question}}</label>
                    </div>
                </div>
            </div>
            <!--Grid row-->

          {% elif question.type == 'checkbox' %}

          {% elif question.type == 'radiobutton' %}

          {% elif question.type == 'select' %}
            {% set count = namespace(a=1) %}
                <div class="md-form mb-0">
                  <select class="browser-default custom-select md-form" id={{question.fqid}} name={{question.fqid}}>
                    <option value="" disabled="" selected="">{{question.typeparam}}</option>
                    {% for option in question.question.split(',') %}
                      <option value={{option}}>{{option}}</option>
                      <!-- incrementing the count variable -->
                      {% set count.a = count.a + 1 %}
                    {% endfor %}
                  </select>
                </div>

          {% elif question.type == 'crnsearch' %}

          {% elif question.type == 'comment' %}

          {% elif question.type == 'email' %}

          {% elif question.type == 'button' %}

          {% endif %}
        {% endfor %}
      </form>

      <div class="text-center text-md-left">
        <a class="btn btn-primary btn-rounded btn-block my-4 waves-effect z-depth-0" onclick="document.getElementById('contact-form').submit();">Submit</a>
      </div>
      <div class="status"></div>


    </section>
    <!--Section: Form 1-->
  </div>

</main>
<!--Main layout-->
{% endblock %}
