{% extends 'layout.html' %}

{% block body %}
<header>
  {% include 'includes/_navbar.html'%}
  <div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}}); background-size:cover;">
    <div class="flex-center white-text rgba-black-strong">
      <ul class="my-4 list-unstyled">
        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">Home</h2>
        <hr class="hr-light">
        <h4 class="white-text my-4" style="font-size:3.3vh;">View your completed forms and their status.</h4>
      </ul>
    </div>
  </div>
  <div style="background-color: #b71c1c;min-height: 15px;"></div>
</header>
{% include 'includes/_messages.html' %}
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container">
    <h2 class="h1-responsive font-weight-bold my-5 text-center">Welcome {{user}}</h2>
    <!-- Divider -->
    <hr class="hr-dark">

    <div class="row mb-5">
      <div class="col-3 grey lighten-4">
        <div class="nav flex-column nav-pills mt-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-filledforms-tab" data-toggle="pill" href="#v-pills-filledforms" role="tab" aria-controls="v-pills-filledforms" aria-selected="true">Filled Forms</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
      </div>
      <div class="col-9 grey lighten-5">
        <div class="tab-content" id="v-pills-tabContent">
          <!--=====================================Side Tab 1=====================================-->
          <div class="tab-pane fade show active" id="v-pills-filledforms" role="tabpanel" aria-labelledby="v-pills-filledforms-tab">
            <table class="table table-striped">
              <thead class="red darken-4 white-text">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Form</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Approval Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% set count = namespace(a=1) %}
                {% for form in forms %}
                  <tr>
                    <th scope="row">{{count.a}}</th>
                    <td>{{form.title}}</td>
                    <td>{{form.username}}</td>
                    <td>{{form.approval}}</td>
                    <td>
                      {% if user.getUserType() == "Student" %}
                        <div class="btn-group btn-group-sm " role="group">
                          <a href="/edit_filledform/{{form.username}}/{{form.fid}}/{{form.title}}">
                            <button type="button" class="btn btn-primary btn-sm">Edit</button>
                          </a>
                          <form action="{{url_for('delete_filledform', fid=form.fid, owner=form.username)}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" value="Delete" class="btn btn-red btn-sm">Delete</button>
                          </form>
                        </div>
                      {% elif user.getUserType() == "Staff" or user.getUserType() == "Faculty" %}
                        <div class="btn-group btn-group-sm " role="group">
                          <a href="/update_status/{{form.fid}}/{{form.username}}/Approved">
                            <button type="button" class="btn btn-success btn-sm">Approve</button>
                          </a>
                          <a href="/update_status/{{form.fid}}/{{form.username}}/Dennied">
                            <button type="button" class="btn btn-danger btn-sm">Deny</button>
                          </a>
                          <a href="/edit_filledform/{{form.username}}/{{form.fid}}/{{form.title}}">
                            <button type="button" class="btn btn-primary btn-sm">View</button>
                          </a>
                          <form action="{{url_for('delete_filledform', fid=form.fid, owner=form.username)}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" value="Delete" class="btn btn-red btn-sm">Delete</button>
                          </form>
                        </div>
                      {% endif %}
                    </td>
                  </tr>
                  {% set count.a = count.a + 1 %}
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!--=====================================Side Tab 2=====================================-->
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            Not Implemented Yet
          </div>

          <!--=====================================Side Tab 3=====================================-->
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            Not Implemented Yet
          </div>

          <!--=====================================Side Tab 4=====================================-->
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            Not Implemented Yet
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--Main layout-->
{% endblock %}
