{% extends 'layout.html' %}

{% block body %}
<header>
  {% include 'includes/_navbar.html'%}
  <!--Mask-->
  <div id="intro-home" class="view intros">
      <div class="mask rgba-black-strong">
          <div class="container-fluid d-flex align-items-center justify-content-center h-100">
              <div class="row d-flex justify-content-center text-center">
                  <div class="col-md-10">
                      <!-- Heading -->
                      <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">Home</h2>
                      <!-- Divider -->
                      <hr class="hr-light">
                      <!-- Description -->
                      <h4 class="white-text my-4" style="font-size:3.3vh;">View your completed forms and their status</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/.Mask-->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main>

</main>
<!--Main layout-->
{% endblock %}
