{% extends 'layout.html' %}

{% block body %}
<header>
  {% include 'includes/_navbar.html'%}
  <div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}}); background-size:cover;">
    <div class="flex-center white-text rgba-black-strong">
      <ul class="my-4 list-unstyled">
        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">Home</h2>
        <hr class="hr-light">
        <h4 class="white-text my-4" style="font-size:3.3vh;">View your completed forms and their status.</h4>
      </ul>
    </div>
  </div>
  <div style="background-color: #b71c1c;min-height: 15px;"></div>
</header>
{% include 'includes/_messages.html' %}
<!--Main Navigation-->

<!--Main layout-->
<main>
  <div class="container">
    <h1 class="h1-responsive font-weight-bold my-5 text-center">Home Page for {{user}}</h1>
    <!-- Divider -->
    <hr class="hr-dark">

    <div class="row mb-5">
      <div class="col-2 grey lighten-4">
        <div class="nav flex-column nav-pills mt-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-filledforms-tab" data-toggle="pill" href="#v-pills-filledforms" role="tab" aria-controls="v-pills-filledforms" aria-selected="true">Filled Forms</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
          {% if user.getUserType() == "Staff" or user.getUserType() == "Faculty" %}
            <a class="nav-link" id="v-pills-create-tab" data-toggle="pill" href="#v-pills-create" role="tab" aria-controls="v-pills-create" aria-selected="false">Create Form</a>
          {% endif %}
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
      </div>
      <div class="col-10 grey lighten-5">
        <div class="tab-content" id="v-pills-tabContent">
          <!--=====================================Side Tab 1=====================================-->
          <div class="tab-pane fade show active" id="v-pills-filledforms" role="tabpanel" aria-labelledby="v-pills-filledforms-tab">
            <table class="table table-striped text-center">
              <thead class="red darken-4 white-text">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Form</th>
                  <th scope="col">Owner</th>
                  <th scope="col">Date</th>
                  <th scope="col">Approval Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% set count = namespace(a=1) %}
                {% for form in forms %}
                  <tr>
                    <th scope="row">{{count.a}}</th>
                    <td>{{form.title}}</td>
                    <td>{{form.username}}</td>
                    <td>{{form.datetime}}</td>
                    <td>{{form.approval}}</td>
                    <td>
                      {% if user.getUserType() == "Student" %}
                        <div class="btn-group btn-group-sm " role="group">
                          <a href="/edit_filledform/{{form.username}}/{{form.fid}}/{{form.title}}/{{form.datetime}}">
                            <button type="button" class="btn btn-primary btn-sm">Edit</button>
                          </a>
                          <form action="{{url_for('delete_filledform', fid=form.fid, owner=form.username, date_time=form.datetime)}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" value="Delete" class="btn btn-red btn-sm">Delete</button>
                          </form>
                        </div>
                      {% elif user.getUserType() == "Staff" or user.getUserType() == "Faculty" %}
                        <div class="btn-group btn-group-sm " role="group">
                          <a href="/update_status/{{form.fid}}/{{form.username}}/{{form.datetime}}/Approved">
                            <button type="button" class="btn btn-success btn-sm">Approve</button>
                          </a>
                          <a href="/update_status/{{form.fid}}/{{form.username}}/{{form.datetime}}/Denied">
                            <button type="button" class="btn btn-danger btn-sm">Deny</button>
                          </a>
                          <a href="/edit_filledform/{{form.username}}/{{form.fid}}/{{form.title}}/{{form.datetime}}">
                            <button type="button" class="btn btn-primary btn-sm">View</button>
                          </a>
                          <form action="{{url_for('delete_filledform', fid=form.fid, owner=form.username, date_time=form.datetime)}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" value="Delete" class="btn btn-red btn-sm">Delete</button>
                          </form>
                        </div>
                      {% endif %}
                    </td>
                  </tr>
                  {% set count.a = count.a + 1 %}
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!--=====================================Side Tab 2=====================================-->
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row">
              <div class="col-md-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name</li>
                  <li class="list-group-item">Email</li>
                  <li class="list-group-item">RIN</li>
                </ul>
              </div>
              <div class="col-md-10">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{user.getFirst()}} {{user.getMiddleInitial()}} {{user.getLast()}}</li>
                  <li class="list-group-item">{{user.getEmail()}}</li>
                  <li class="list-group-item">{{user.getIdNumber()}}</li>
                </ul>
              </div>
            </div>
          </div>

          <!--=====================================Side Tab 3=====================================-->
          {% if user.getUserType() == "Staff" or user.getUserType() == "Faculty" %}
            <div class="tab-pane fade form-builder" id="v-pills-create" role="tabpanel" aria-labelledby="v-pills-create-tab">
              <form class="needs-validation" novalidate action="" method="POST">
                <h2 class="card-header info-color white-text text-center my-2 red darken-4">
                  <strong>Form Builder</strong>
                </h2>
                <div class="card mt-4 mb-4">
                  <div class="card-header">
                    Form Details
                  </div>

                  <div class="card-body">
                    <div class="row align-middle justify-content-center">
                      <div class="col-7">
                        <div class="md-form mr-2 mb-0">
                            <input type="text" id="formTitle" name="formTitle" class="form-control" required value="">
                            <label for="formTitle">Form title</label>
                            <div class="invalid-feedback">
                              Please provide a form title
                            </div>
                        </div>
                        <div class="md-form mr-2 mb-0">
                            <input type="text" id="formCategory" name="formCategory" class="form-control" required value="">
                            <label for="formCategory">Form category</label>
                            <div class="invalid-feedback">
                              Please provide a form category
                            </div>
                        </div>
                        <div class="md-form mr-2 mb-0">
                            <textarea type="text" id="formDescription" name="formDescription" class="md-textarea form-control" required value="" rows="2"></textarea>
                            <label for="formDescription">Form description</label>
                            <div class="invalid-feedback">
                              Please provide a form description
                            </div>
                        </div>
                        <div class="md-form mr-2 mb-0">
                            <input type="text" id="formLink" name="formLink" class="form-control" value="">
                            <label for="formLink">Link to backup PDF version</label>
                        </div>
                      </div>
                      <div class="col-4 text-center grey lighten-4">
                        <div class="my-2"><em>Example Output</em></div>
                        <div class="view overlay rounded z-depth-1">
                          <img src={{url_for('static', filename=("img/formthumbs/defaultThumbnail" + (range(1, 6) | random)|string + ".png"))}} class="img-fluid" alt="Sample project image">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        <h4 class="font-weight-bold my-3">Form Title Here</h4>
                        <p class="grey-text">Form description here</p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="card mb-4">
                  <div class="card-header">
                    Form Questions
                  </div>


                  <div class="card-body">
                    <div class="text-center">
                      <button type="button" class="btn btn-no-hover btn-block btn-flat my-0" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <div class="text-center mt-0">
                            Instructions
                        </div>
                        <div class="text-center">
                          <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i>
                        </div>
                      </button>
                    </div>

                    <div class="collapse" id="collapseExample">
                      <div class="text-center mt-3">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Type</th>
                              <th scope="col">Question Label</th>
                              <th scope="col">Question Parameters</th>
                              <th scope="col">Required</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">CRN Search</th>
                              <td>-</td>
                              <td>-</td>
                              <td>Requires filling out before submit</td>
                            </tr>
                            <tr>
                              <th scope="row">Divider</th>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">Instruction</th>
                              <td>Displays this Text</td>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">Select</th>
                              <td>Main Label</td>
                              <td>Select Options (comma seperated)</td>
                              <td>Requires filling out before submit</td>
                            </tr>
                            <tr>
                              <th scope="row">Text</th>
                              <td>Main Label: Auto-Fill compatibility (First Name, Last Name, MI, Middle Name, Email, Rensselaer ID Number)</td>
                              <td>-</td>
                              <td>Requires filling out before submit</td>
                            </tr>
                            <tr>
                              <th scope="row">Title</th>
                              <td>Displays this Text</td>
                              <td>text-left or text-center</td>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                      </div>


                      <div class="form-maker"></div>
                      <div class="text-center">
                        <button class="btn btn-cyan mt-2 mb-2 waves-effect z-depth-0" id="add" type="button"><i class="fa fa-plus mr-1"></i> Add a field</button>
                      </div>
                    </div>
                  </div>



                <div class="text-center mb-4">
                  <button class="btn btn-indigo waves-effect z-depth-0" id="preview" type="button">Preview</button>
                  <button class="btn btn-primary waves-effect z-depth-0" type="submit">Post Form</button>
                </div>
              </div>
            </form>
          {% endif %}
          <!--=====================================Side Tab 4=====================================-->
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            Not Implemented Yet
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--Main layout-->
{% endblock %}
