{% extends 'layout.html' %}

{% block body %}
<header>
	{% include 'includes/_navbar.html'%}
	<div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}}); background-size:cover;">
		<div class="flex-center white-text rgba-black-strong">
			<ul class="my-4 list-unstyled">
				<h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">Register</h2>
			</ul>
		</div>
	</div>
	<div style="background-color: #b71c1c;min-height: 15px;"></div>
</header>
<!--Main Navigation-->


<!--Main layout-->
<main>
	<div class="container mt-4">
		<!-- Form -->
		<form class="text-center" style="color: #B71C1C" action="" method="POST">

			<!-- First -->
			<div class="md-form">
				<input type="text" id="materialRegisterFormFirst" class="form-control" name="first" value={{request.form.first}}>
				<label for="materialRegisterFormFirst">First Name</label>
			</div>

			<!-- Second -->
			<div class="md-form">
				<input type="text" id="materialRegisterFormSecond" class="form-control" name="second" value={{request.form.second}}>
				<label for="materialRegisterFormSecond">Second Name</label>
			</div>

			<!-- RIN -->
			<div class="md-form">
				<input type="text" id="materialRegisterFormRIN" class="form-control" name="rin" value={{request.form.rin}}>
				<label for="materialRegisterFormRIN">RIN</label>
			</div>

			<!-- Email -->
			<div class="md-form">
				<input type="email" id="materialRegisterFormEmail" class="form-control" name="email" value={{request.form.email}}>
				<label for="materialRegisterFormEmail">RPI E-mail Address</label>
			</div>

			<!-- Password -->
			<div class="md-form">
				<input type="password" id="materialRegisterFormPassword" class="form-control" name="password" value={{request.form.password}}>
				<label for="materialRegisterFormPassword">Password</label>
			</div>

			<!-- Sign up button -->
			<button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0 btn-outline-grey" type="submit">Sign up</button>

		</form>
	</div>
	<!-- Default form register -->
</main>
<!--Main layout-->
{% endblock %}
