{% extends 'layout.html' %}

{% block body %}
<header>
	{% include 'includes/_navbar.html'%}
	<div class="streak streak-md streak-photo" style="background-image:url({{url_for('static', filename='img/navbar_background.jpg')}}); background-size:cover;">
		<div class="flex-center white-text rgba-black-strong">
			<ul class="my-4 list-unstyled">
				<h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="font-size:7vh;">Register</h2>
			</ul>
		</div>
	</div>
	<div style="background-color: #b71c1c;min-height: 15px;"></div>
</header>
<!--Main Navigation-->
{% include 'includes/_messages.html' %}

<!--Main layout-->
<main>
	<div class="container mt-4">
		<!-- Form -->
		<form class="needs-validation" novalidate style="color: #B71C1C" action="" method="POST">

			<!-- First -->
			<div class="md-form">
				<input type="text" id="materialRegisterFormFirst" class="form-control" name="first" required value={{request.form.first}}>
				<label for="materialRegisterFormFirst">First Name</label>
				<div class="invalid-feedback">
					Please provide your First Name
				</div>
			</div>

			<!-- Middle -->
			<div class="md-form">
				<input type="text" id="materialRegisterFormMiddle" class="form-control" name="middle" value={{request.form.middle}}>
				<label for="materialRegisterFormSecond">Middle Name</label>
			</div>

			<!-- Last -->
			<div class="md-form">
				<input type="text" id="materialRegisterFormLast" class="form-control" name="last" required value={{request.form.last}}>
				<label for="materialRegisterFormSecond">Last Name</label>
				<div class="invalid-feedback">
					Please provide your Last Name
				</div>
			</div>

			<!-- RIN -->
			<div class="md-form">
				<input type="text" id="materialRegisterFormRIN" class="form-control" name="rin" required value={{request.form.rin}}>
				<label for="materialRegisterFormRIN">RIN</label>
				<div class="invalid-feedback">
					Please provide a valid RIN (eg. 661234567)
				</div>
			</div>

			<!-- Type of User -->
			<div class="md-form">
				<select class="browser-default custom-select md-form" required name=utype>
					<option value="" disabled="" selected="">Select a user type</option>
						<option disabled="" value="Faculty">Faculty</option>
						<option disabled="" value="Staff">Staff</option>
						<option value="Student">Student</option>
				</select>
				<div class="invalid-feedback">
					Please select a User Type
				</div>
			</div>

			<!-- Email -->
			<div class="md-form">
				<input type="email" id="materialRegisterFormEmail" class="form-control" name="email" required value={{request.form.email}}>
				<label for="materialRegisterFormEmail">RPI E-mail Address</label>
				<div class="invalid-feedback">
					Please provide your your email (eg. example@test.com)
				</div>
			</div>

			<!-- Password -->
			<div class="md-form">
				<input type="password" id="materialRegisterFormPassword" class="form-control" name="password" required value={{request.form.password}}>
				<label for="materialRegisterFormPassword">Password</label>
				<div class="invalid-feedback">
					Please come up with a Password you will remember
				</div>
			</div>

			<!-- Sign up button -->
			<button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0 btn-outline-grey" type="submit">Sign up</button>

		</form>
	</div>
	<!-- Default form register -->
</main>
<!--Main layout-->
{% endblock %}
